name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Create Google Services JSON File
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: rm -f app/google-services.json && (echo $GOOGLE_SERVICES_JSON | base64 -di > app/google-services.json)

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    - name: Sign APK with keystore
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEY_STORE }}
        alias: ${{ secrets.KEY_STORE_ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASS }}
        keyPassword: ${{ secrets.KEY_STORE_PASS }}
      env:
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Upload release APK
      uses: actions/upload-artifact@v2
      with:
        name: app-release.apk
        path: ${{steps.sign_app.outputs.signedReleaseFile}}
